body.single { 
	p,
	.views-field-field-newsrelease {
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 300;
		text-align: left;		
	}
	.views-field-field-newsrelease {
		img {
			margin-bottom: 30px;
		}	
	}
}