// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$font:									"azo-sans-web";
$heading-font:					"ltc-bodoni-175";

// Colors
$brand-primary:         #454137;
$brand-secondary:				#bd6228;
$brand-blue:						#4F748A;
$link-hover:						#9F501E;
$light-grey:						#E4E4E3;

$light-gray:						#e5e7e8;

$white:									#ffffff;

@mixin delay($seconds) {
	-webkit-animation-delay: 	$seconds; /* Chrome, Safari, Opera */
	animation-delay: 					$seconds;
}

@mixin transparent-background($r,$g,$b,$a) {
	background: rgb($r,$g,$b);
	background: rgba($r,$g,$b,$a);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin cover() {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin transition($time) {
	-webkit-transition: 	all $time ease-in-out;
	-moz-transition: 			all $time ease-in-out;
	-ms-transition: 			all $time ease-in-out;
	-o-transition: 				all $time ease-in-out;
	transition: 					all $time ease-in-out;	
}